@import "../../styles/colors.css";
@import "../../styles/constants.css";

.content {
    flex: 2;
    padding: 20px 0;
}

.header {
    display: inline-block;
    margin-right: 1em;
}

.title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
    color: var(--white);
}

.subtitle {
    composes: title;
    font-size: 24px;
    font-weight: 500;
}
.alert {
    margin-right: 120px;
}

.selected-info {
    display: inline-block;
}

.label {
    color: var(--text-gray);
}

.header-main {
    text-align: left;
    background-color: var(--background-dim-gray);
    padding: 30px 50px;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-main h1 {
    margin: 0;
}

.header-section {
    text-align: center;
    display: block;
    border-top: 0.5px solid var(--dimgray);
    border-bottom: 0.5px solid var(--dimgray);
}

.section {
    font-size: 1.2rem;
    line-height: 1.75;
    margin: 0;
    column-gap: var(--dataset-card-gap-width);
    justify-content: center;
}

.section-content {
    margin: 0.5em auto 2em auto;
    max-width: 1010px;
    max-width: var(--datasets-section-max-width);
}

.caption {
    font-size: 1rem;
    margin: 2em 5%;
    text-align: justify;
    color: var(--text-gray);
}

.light-section {
    composes: section;
    background-color: var(--background-dim-gray);
    display: flex;
    flex-direction: column;
}

.card-container {
    column-gap: var(--dataset-card-gap-width);
}

.light-section .subtitle {
    margin-bottom: 1.2em;
}

.section .paragraph {
    color: var(--text-gray);
    font-size: 1rem;
    padding: 0 20px;
}

.light-section .paragraph {
    padding: 0 20px;
}

.content :global(.ant-descriptions-view table) {
    table-layout: initial;
}

.content :global(.ant-descriptions-item-label) {
    width: 168px;
    color: var(--text-gray);
}
.content :global(.ant-descriptions-item-content) {
    color: var(--text-gray);
}

@media screen and (max-width: 768px) {
    .header-main {
        flex-flow: row wrap;
    }
}
