@import "../../styles/colors.css";

.content {
    flex: 2;
    padding: 20px 40px;
}

.header {
    display: inline-block;
    margin-right: 1em;
}

.subtitle {
    text-align: center;
    font-size: 24px;
    margin: 1.2em 0;
}
.alert {
    margin-right: 120px;
}

.selected-info {
    display: inline-block;
}

.label {
    color: var(--text-gray);
}

.header-main {
    text-align: left;
    background-color: var(--background-dim-gray);
    padding: 15px 50px;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header-main h1 {
    margin: 0;
}

.header-section {
    text-align: center;
    display: block;
    border-top: 0.5px solid var(--dimgray);
    border-bottom: 0.5px solid var(--dimgray);
}

.section {
    margin: 2em auto;
    max-width: 1010px;
    font-weight: 100;
}

.caption {
    font-size: 12px;
    margin: 2em 4.4em;
    text-align: justify;
    color: var(--text-gray);
}

.light-section {
    background-color: var(--background-dim-gray);
    margin: 0 -40px -20px -40px;
    font-size: 18px;
    color: var(--text-gray);
}
.light-section p {
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .header-main {
        flex-flow: row wrap;
    }
}