@import "../../styles/colors.css";

.container {
    right: 132px;
    bottom: 42px;
    height: 60px;
    width: 60px;
    transition: all 0.2s;
    z-index: 100;
}

.back-top-inner {
    text-align: center;
    background-color: var(--header-gray);
    border: 1px solid var(--border-gray);
    height: 60px;
    width: 60px;
    padding-top: 5px;
    border-radius: 5px;
    & i {
        font-size: 1.6em;
    }
}