@import "../../styles/colors.css";

.color-by-row {
  margin-bottom: 1em;
}

:global(.ant-select.ant-select-enabled) {
  color: #ffffff;
}

:global(.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked){
  background-color: var(--dimgray);
  color: var(--background-dark-gray);
}
