{
    "plugins": ["@babel/plugin-proposal-class-properties", "@babel/transform-runtime"],
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "modules": false }],
        "@babel/preset-typescript"
    ],
    "env": {
        "commonjs": {
            "presets": [["@babel/preset-env", { "modules": true }]]
        }
    }
}
