@import "../../styles/colors.css";

.container {
    width: 128px;
    min-height: calc(100% - 16px);
}

.container :global(.ant-card) {
    height: 100%;
}

.container :global(.ant-list-item-content) {
    flex-flow: column;
}

.container :global(.ant-list-item-meta-description) {
    min-width: 100px;
}

.container :global(.ant-card-meta) {
    margin: -15px 0;
}

.container :global(.ant-card-meta-title) {
    font-size: 16px;
    color: var(--off-white);
    margin-bottom: 6px !important;
}

.container .small :global(.ant-card-meta-title) {
    font-size: 14px;
}

.container :global(.ant-card-body) {
    padding: 18px 12px;
}

.container :global(.ant-card-meta-detail) {
    margin-top: 1em;
}

.container :global(.ant-card-bordered) {
    border-color: var(--background-dark-gray);
    background-color: var(--header-gray);
}

.action-list {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
}

.action-list button {
    border: none;
    border-radius: 0;
    background-color: transparent !important;
    height: inherit;
    color: var(--off-white);
    margin: auto;
    padding: 0;
}

.action-list a {
    color: var(--off-white);
}

.action-list .disabled {
    color: var(--text-gray);
}

.container :global(.ant-avatar) {
    border: 1px solid var(--dimgray);
    cursor: pointer;
    margin-top: 2px;
}

.container .selected {
    border: 1px solid var(--light-gray);
}

.container .selected img {
    border: 1px solid var(--light-gray);
    border-bottom: 1px solid black;
}

.container img {
    background-color: black;
    border: 1px solid black;
}

.container img:hover {
    border: 1px solid white;
    cursor: pointer;
}

.container :global(.ant-list-item-meta) {
    padding-left: 16px;
}

.container :global(.ant-list-item-meta-description) {
    min-width: 100px;
}

.container :global(.ant-list-item-action) {
    margin-right: 16px;
    margin-left: 0;
}

.container :global(.ant-list-item-action li) {
    color: white;
}

.container :global(.ant-list-item-action a) {
    color: white;
}

.stage {
    color: var(--text-gray);
}

.placeholderAvatar {
    font-size: 40px;
}
