@import "../../styles/colors.css";

.container {
    width: 300px;
}

.container :global(.ant-list-item-content) {
    flex-flow: column;
}

.container :global(.ant-list-item-meta-description) {
    min-width: 100px;
}

.container :global(.ant-card-meta) {
    margin: -15px 0;
}

.container :global(.ant-card-meta-detail) {
    margin-top: 1em;
}

.container :global(.ant-card-bordered) {
    border-color: var(--border-gray);
    background-color: var(--header-gray);
}

.infoList {
    list-style: none;
    padding-left: 0;
}

.actionList {
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 10px;
}

.actionList button {
    border: none;
    border-radius: 0;
    background-color: transparent !important;
    height: inherit;
    color: white;
    padding: 2px 10px;
}

.actionList a {
    color: white;
}

.actionList button:first-of-type {
    padding-left: 0;
}

.actionList button:not(:last-of-type),
.actionList button:not(:last-of-type):hover {
    /* Add a white vertical divider between the buttons */
    border-right: 1px solid white;
    border-color: white !important;
}

.title {
    color: white;
}

.actionList .disabled {
    color: var(--text-gray);
}

.container :global(.ant-avatar) {
    border: 1px solid var(--dimgray);
    cursor: pointer;
    margin-top: 2px;
}

.container .selected {
    border: 1px solid white;
}

.container :global(.ant-list-item-meta) {
    padding-left: 16px;
}

.container :global(.ant-list-item-meta-description) {
    min-width: 100px;
}

.container :global(.ant-list-item-action) {
    margin-right: 16px;
    margin-left: 0;
}

.container :global(.ant-list-item-action li) {
    color: white;
}

.container :global(.ant-list-item-action a) {
    color: white;
}

.stage {
    color: var(--text-gray);
}

.placeholderAvatar {
    font-size: 40px;
}
