:root {
    --background-dark-gray: #131313;
    --background-black-purple: #222222;
    --background-dim-gray: #383838;
    --purple: #8950d9;
    --purple-hover: #9b70d1;
    --dimgray: #6e6e6e;
    --highlight-green: #b2d030;
    --bright-blue: #00a0ff;
    --text-red: #ff6e63ff;
    --text-gray: #a0a0a0;
    --header-gray: #4b4b4b;
    --panel-body-background-gray: #313131;
    --viewer-header-background-gray: #313131;
    --page-background-gray: #313131;
    --layout-borders: var(--dimgray);
    --light-gray: #aeacae;
    --off-white: #f8f8f8;
    --border-gray: var(--dimgray);
    --dark-theme-text-color: var(--off-white);
    --megacard-background: var(--background-dim-gray);
    --link-text: var(--bright-blue);
    --white: #ffffff;
}
