:root {
    --background-dark-gray: #131313;
    --background-black-purple: #222222;
    --background-dim-gray: #383838;
    --purple: #8048f3;
    --dimgray: #6e6e6e;
    --highlight-green: #b2d030;
    --text-gray: #a0a0a0;
    --header-gray: #4b4b4b;
    --panel-body-background-gray: #313131;
    --light-gray: #aeacae;
    --off-white: #f8f8f8;
    --border-gray: var(--dimgray);
    --dark-theme-text-color: var(--off-white);
    --bottom-panel: var(--background-black-purple);
    --bottom-panel-trigger: var(--header-gray);
    --bottom-panel-trigger-label: var(--light-gray);
    --megacard-background: var(--background-dim-gray);
}
