@import "../../styles/colors.css";

.plot-by-on-x {
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: 100;
}

.plot-by-on-y {
    position: absolute;
    top: 60%;
    left: 50px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    z-index: 100;
    transform-origin: left;
}

:global(.ant-select-arrow) {
    color: white;
}

:global(.ant-select-selection--single .ant-select-selection__rendered) {
    margin-right: 30px;
}