@import "../../styles/colors.css";

.gallery-header {
    padding: 1em 1em 1em 0em;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    justify-content: space-between;
    & :global(.ant-btn) {
          margin-top: 3px;
          align-self: flex-end;
    }
    &  :global(.ant-form-item) {
             margin: auto;
    }
}

.side-bar-header {
    padding: 1em 1em 1em 0em;
}

.gallery-grid {
    border-right: 1px solid var(--border-gray);
}
.gallery-header-actions {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    & input {
        background-color: var(--header-gray);
      }
}

/*not in the dom tree but seems ok to be global*/
:global(.ant-popover) {
    z-index: 20000;
}

:global(.ant-popover-inner-content) {
    padding: 0.5em;
}

.container :global(.ant-radio-button-wrapper) {
    background: transparent;
    display: block;
    border: none;
}

.container :global(.ant-radio-button-wrapper):before {
    background-color: transparent;
}

.gallery-title {
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/*LIST STYLES*/

.container :global(.ant-avatar) {
    height: 110px;
    width: 110px;
}

.container :global(.ant-list-item-content) {
    width: 100%;
}

.container :global(.ant-list-item-meta-avatar) {
    margin-right: 0;
}

/* collapsed sider styling*/
:global(.ant-layout-sider-collapsed .ant-list-item-meta-content),
:global(.ant-layout-sider-collapsed .ant-list-item-content),
:global(.ant-layout-sider-collapsed) .search-for-cell {
    display: none;
}

:global(.ant-layout-sider-collapsed) .gallery-title,
:global(.ant-layout-sider-collapsed button span) {
    font-size: 1em;
}

:global(.ant-layout-sider-collapsed button) {
    font-size: 0.8em;
    padding: 2px;
}

:global(.ant-layout-sider-collapsed .ant-btn span) {
    margin-left: 2px;
}

:global(.ant-layout-sider-collapsed .ant-avatar) {
    height: 70px;
    width: 70px;
}

:global(.ant-layout-sider-collapsed) .gallery-header {
    text-align: center;
    justify-content: space-between;
}

:global(.ant-layout-sider-collapsed h2) {
    display: flex;
    flex-flow: column;
}

:global(.ant-layout-sider-collapsed) .gallery-header :global(.ant-form-item),
:global(.ant-layout-sider-collapsed) .gallery-header :global(.ant-btn) {
    margin: auto;
    padding: 5px;
}

:global(.ant-layout-sider-collapsed .ant-form-item){
    margin-bottom: 0;
}
