:global(.ant-progress-outer) {
    width: 60%;
}
:global(.ant-checkbox-inner) {
    background-color: inherit;
}
:global(.ant-progress-text) {
    width: initial!important;
}

:global(.ant-progress-inner) {
    background-color: transparent;
}

:global(.ant-badge) {
    margin: auto;
    padding: 4px;
}

:global(.ant-progress-status-success .ant-progress-text) {
     color: #ffffff;
}

.container{
    display: flex;
    justify-content: space-between;
}

.container :global(.ant-badge sup) {
    box-shadow: none;
}

.label {
    flex: 1 66%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.first-column {
    margin-top: 5px;
}

.container :global(.ant-badge.ant-badge-not-a-wrapper) {
    padding-right: 0;
}

:global(.ant-dropdown-menu-item) > a {
    display: inline;
}

.container button {
    margin: 0.2em 0em 0.2em 1em;
}