:global(.ant-progress-outer) {
    width: 60%;
}
:global(.ant-checkbox-inner) {
    background-color: inherit;
}
:global(.ant-progress-text) {
    width: initial!important;
}

:global(.ant-progress-inner) {
    background-color: transparent;
}

:global(.ant-progress-status-success .ant-progress-text) {
     color: #ffffff;
}

.container{
    display: flex;
}

.label {
    flex: 1 66%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}