@import "../../styles/colors.css";
@import "../../styles/constants.css";

.hidden {
    display: none;
}

.content {
    flex: 2;
    background-color: black;
}

.color-menu {
    min-height: 80vh;
    height: calc(100vh - var(--header-height) - var(--tab-bar-height));
}

.color-menu :global(.ant-collapse) {
    border-top: 0;
    border-left: 0;
    max-height: calc(100vh - var(--header-height) - var(--tab-bar-height));
    overflow-y: scroll;
}
.color-menu :global(.ant-layout-sider-trigger) {
    position: inherit;
}
