@import "../../styles/colors.css";

.container {
    width: 300px;
}

.container:global(.ant-list-item) {
    border-bottom: 0.5px solid var(--border-gray);
}

.container :global(.ant-list-item-content) {
    flex-flow: column;
}

.container :global(.ant-list-item-meta-description) {
    min-width: 100px;
}

.container :global(.ant-card-meta) {
    margin: -15px 0;
}

.container :global(.ant-card-meta-detail) {
    margin-top: 1em;
}

.container :global(.ant-card-bordered) {
    border-color: var(--border-gray);
    background-color: var(--header-gray);
}

.title {
    color: white;
}

.container :global(.ant-avatar) {
    border: 1px solid var(--dimgray);
    cursor: pointer;
}

.container .selected {
    border: 1px solid var(--light-gray);
}

.avatar:hover {
    border: 1px solid white;
    cursor: pointer;
}

.container :global(.ant-list-item-meta) {
    padding-left: 16px;
}

.container :global(.ant-list-item-meta-description) {
    min-width: 100px;
}

.container :global(.ant-list-item-action) {
    margin-right: 16px;
    margin-left: 0;
}

.placeholderAvatar {
    font-size: 24px;
}
