@import "../../styles/colors.css";
@import "../../styles/constants.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5em 1.5em 5em 5em;
    flex: 1;
    margin-bottom: 2em;
    height: calc(100vh - var(--header-height) - var(--tab-bar-height) - 4em);
}

.glossary-link {
    position: absolute;
    right: 10px;
    bottom: 2px;
}

:global(.modebar-container) {
    position: initial !important;
}

:global(.modebar-btn.active) {
    background-color: var(--purple);
    color: white;
}

:global(.modebar-btn.active path) {
    /*override plotly svg styling*/
    fill: white !important;
}

:global(#thumbnail-popover) {
    box-shadow: 0 2px 8px black;
    padding: 0;
    border-radius: 0;
    border: 1px solid var(--white);

    & :global(.ant-card),
    :global(.ant-popover-inner-content) {
        border-radius: 0;
        padding: 0;
    }
}
