@import "../../styles/colors.css";

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em 5em 5em;
    flex: 1;
    margin-bottom: 2em;
}
.container :global(.ant-progress-inner) {
    /* can detele with antd v4 */
    background-color: #6e6e6e; 
}
:global(.modebar) {
    bottom: 0!important;
    top: initial!important;
    right: 18%!important;
}

:global(.modebar-container) {
    position: initial!important;
}

:global(.modebar-btn.active){
    background-color: var(--purple);
    color: white;
}

:global(.modebar-btn.active path){
    /*override plotly svg styling*/
    fill: white!important;
}

:global(#thumbnail-popover .ant-popover-inner-content) {
    box-shadow: 0 2px 8px black ;
    padding: 0;
}