.container {
    all: initial;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.plotView {
    flex: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.colorMenu {
    flex: 1
}