@import "../../styles/colors.css";

:global(.ant-affix) {
    z-index: 99999;
}

:global(.ant-layout-header) {
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 2;
}

.blur {
    filter: blur(8px);
}

.header {
    display: inline-block;
    margin-right: 1em;
}

.selected-info {
    display: inline-block;
}

.label {
    color: var(--text-gray);
}

.header-section {
    text-align: center;
    display: block;
    border-top: 0.5px solid var(--dimgray);
    border-bottom: 0.5px solid var(--dimgray);
}

.sider {
    background-color: #4b4b4bd1;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 3000;
    padding-bottom: 0;
}

.sider :global(.ant-layout-sider-children) {
    overflow: scroll;
}

:global(.ant-collapse),
:global(.ant-collapse-header),
:global(.ant-collapse > .ant-collapse-item:last-child),
:global(.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header)
{
    border-radius: 0;
}

.color-menu {
    min-height: 80vh;
}

.color-menu :global(.ant-collapse) {
    border-top: 0;
    border-left: 0;
}
.color-menu :global(.ant-layout-sider-trigger) {
    position: inherit;
}
.sider:global(.ant-layout-sider-collapsed) :global(.ant-layout-sider-trigger){
    width: 20px !important;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color:  var(--header-gray);
    border-left: 0.5px solid var(--border-gray);
    border-right: none;

& i {
      display: block;
      position: absolute;
      left: 3.5px;
    top: 50%;
      /*line-height: 100vh;*/


  }
}

.sider :global(.ant-layout-sider-children) {
    padding-left: 10%;
}

.sider:global(.ant-layout-sider-collapsed) :global(.ant-layout-sider-children) {
    padding-left: 0;
}

/*expanded */
.sider :global(.ant-layout-sider-trigger) {
    width: 10% !important;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color:#000000a1;
    border-left: 0.5px solid var(--border-gray);
    border-right: 0.5px solid var(--border-gray);

    & i {
          display: none;
      }
}

