@import "../../styles/colors.css";

:global(.ant-affix) {
    z-index: 99999;
}

:global(.ant-layout-header) {
    display: flex;
    justify-content: space-between;
}

.content {
    flex: 2;
}

.header {
    padding: 24px 50px;
    display: inline-block;
}

.selected-info {
    display: inline-block;
}

.label {
    color: var(--text-gray);
}

.header-section {
    border-top: 0.5px solid var(--dimgray);
    background-color: var(--header-gray);
}

.sider {
    background-color: #4b4b4bd1;
    height: 100vh;
    overflow: auto;
    position: fixed;
    right: 0;
    z-index: 3000;
}

:global(.ant-collapse),
:global(.ant-collapse-header),
:global(.ant-collapse > .ant-collapse-item:last-child),
:global(.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header)
{
    border-radius: 0;
}

:global(.ant-layout-sider-trigger) {
    background: var(--light-gray);
}

.color-menu :global(.ant-layout-sider-trigger) {
    position: inherit;
}
