@import "../../styles/colors.css";

.card {
    padding: 15px 15px 5px 15px;
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    max-width: 462px;
}

.spacer {
    flex-grow: 2;
}

.loadButton {
    position: absolute;
    right: 14px;
    bottom: 14px;
}

@media screen and (max-width: 480px) {
    .loadButton {
        position: static;
        margin: 10px auto;
    }
}

.card :global(.ant-card-body) {
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.card :global(.ant-descriptions-item-label) {
    color: #ffffffc4;
}

.card :global(.ant-descriptions-item-content) {
    color: #fff;
}

.card :global(.ant-card-meta-title) {
    text-align: center;
    white-space: normal;
}

.card :global(.ant-card-meta-description) {
    color: var(--text-gray);
    font-size: 1rem;
}

.card :global(.ant-tag) {
    font-size: 10px;
    vertical-align: middle;
    line-height: initial;
    padding: 0 2px;
}

.card :global(.ant-card-meta) {
    margin-bottom: 1em;
}