@import "../../styles/colors.css";

.megacard {
    background-color: var(--megacard-background);
    padding: 8px;
    box-shadow: 0px 1px 19px 5px rgb(0 0 0 / 25%);
    margin: 25px;
}

/* TODO: something like this  */
/* @media screen and (max-width: 480px) {
    .megacard {
        max-width: 90vw !important;
    }
} */

.megasetTitle {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 0.5em 1em 1em 1em;
}

.datasetCards {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.publications {
    margin: 20px 10px 10px 10px;
    font-size: 12px;
}

.publication {
    display: flex;
    margin-top: 0.3em;
    font-size: 16px;
    gap: 5px;
}

.publicationTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 75%;
    font-style: italic;
    color: var(--link-text);
}

.journalDate {
    white-space: nowrap;
}