@import "../../styles/colors.css";

.hidden {
    display: none;
}

:global(.ant-affix) {
    z-index: 100;
}

:global(.ant-layout-header) {
    display: flex;
    justify-content: flex-start;
}

.content {
    flex: 2;
    background-color: black;
}

.blur {
    filter: blur(8px);
}

.header {
    display: inline-block;
    margin-right: 1em;
}

.alert {
    margin-right: 120px;
}

.selected-info {
    margin-top: 2px;
    display: inline-block;
}

.label {
    color: var(--text-gray);
}

.header-main {
    text-align: left;
    background-color: var(--background-dim-gray);
    padding: 15px 50px;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main h1 {
    margin: 0;
}

:global(.ant-menu-horizontal) {
    border-bottom: 1px solid var(--border-gray);
}

:global(.allencell-header) {
    /* disabling absolute positioning */
    position: initial;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

:global(.allencell-header.move-left) {
    padding-right: 150px;
}

.sider {
    background-color: #4b4b4bd1;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 10;
    padding-bottom: 0;
}

.sider :global(.ant-layout-sider-children) {
    overflow: scroll;
}

.sider :global(.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-right) {
    display: none;
}

/* element is appended to the top level of the dom, so had to be adjusted globally. Tested and seems ok*/
:global(.ant-dropdown) {
    z-index: 500000;
}

:global(.ant-collapse),
:global(.ant-collapse-header),
:global(.ant-collapse > .ant-collapse-item:last-child),
:global(.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header)
{
    border-radius: 0;
}

.sider:global(.ant-layout-sider-collapsed) :global(.ant-layout-sider-trigger){
    width: 20px !important;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color:  var(--header-gray);
    border-left: 0.5px solid var(--border-gray);
    border-right: none;

& i {
      display: block;
      position: absolute;
      left: 3.5px;
      top: 50%;
  }
}

.sider :global(.ant-layout-sider-children) {
    padding-left: 10%;
}

.sider:global(.ant-layout-sider-collapsed) :global(.ant-layout-sider-children) {
    padding-left: 0;
}

/*expanded */
.sider :global(.ant-layout-sider-trigger) {
    width: 10% !important;
    height: 100%;
    position: absolute;
    left: -20px;
    top: 0px;
    background-color:#000000a1;
    border-left: 0.5px solid var(--border-gray);
    border-right: 0.5px solid var(--border-gray);

    & i {
          display: none;
      }
}

:global(.ant-btn-background-ghost) {
    color: var(--text-gray);
    border-color: var(--text-gray);
}

/* Icomoon icons */

.icon-plot::after {
    content: "\e901";
}

.icon-cube::after {
    content: "\e900";
}