@import "../../styles/colors.css";

.hidden {
    display: none;
}

:global(.ant-affix) {
    z-index: 100;
}

:global(.ant-layout-header) {
    display: flex;
    justify-content: flex-start;
}

:global(.image-info-wrapper) {
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 10px;
}

.content {
    flex: 2;
    background-color: black;
    max-height: calc(100vh - var(--header-height) - var(--tab-bar-height));
    padding-right: 120px;
}

.blur {
    filter: blur(8px);
}

.header {
    display: inline-block;
    margin-right: 1em;
}

.alert {
    margin-right: 120px;
}

.header-main {
    text-align: left;
    padding: 15px 50px;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main h1 {
    margin: 0;
}

.viewer-menu-bar {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-right: 30px;
    background-color: var(--viewer-header-background-gray);
    border-bottom: 1px solid var(--layout-borders);
}

.viewer-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    width: 100%;

    & .viewer-title {
        max-width: 100%;
        overflow: ellipsis;
        font-weight: 600;
        margin-bottom: 0;
        line-height: 20px;
        height: auto;
        white-space: nowrap;

        & .label {
            color: var(--text-gray);
        }
    }
}

@media screen and (max-width: 1000px) {
    .viewer-title-container {
        justify-content: right;
        padding-right: 12px;
    }
}

.viewer-menu-bar-collapsed > .viewer-title-container {
    /* left: 0; */
}

:global(.allencell-header) {
    /* disabling absolute positioning */
    position: initial;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

:global(.allencell-header.move-left) {
    padding-right: 150px;
}

.sider {
    background-color: #4b4b4bd1;
    height: calc(100vh - var(--header-height));
    position: absolute;
    right: 0;
    z-index: 100;
    padding-bottom: 0 !important;
}

.sider :global(.ant-layout-sider-children) {
    overflow: scroll;
}

.sider :global(.ant-layout-sider-zero-width-trigger.ant-layout-sider-zero-width-trigger-right) {
    display: none;
}

/* element is appended to the top level of the dom, so had to be adjusted globally. Tested and seems ok*/
:global(.ant-dropdown) {
    z-index: 500000;
}

:global(.ant-collapse),
:global(.ant-collapse-header),
:global(.ant-collapse > .ant-collapse-item:last-child),
:global(.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header) {
    border-radius: 0;
}

.sider:global(.ant-layout-sider-collapsed) :global(.ant-layout-sider-trigger) {
    width: 20px !important;
    height: calc(100vh - var(--header-height));
    position: absolute;
    left: -20px;
    top: 0px;
    background-color: var(--header-gray);
    border-left: 0.5px solid var(--border-gray);
    border-right: none;

    & i {
        display: block;
        position: absolute;
        left: 3.5px;
        top: 50%;
    }
}

.sider :global(.ant-layout-sider-children) {
    padding-left: 10%;
    overflow-y: auto;
    overflow-x: clip;
}

.sider:global(.ant-layout-sider-collapsed) :global(.ant-layout-sider-children) {
    padding-left: 0;
}

/*expanded */
.sider :global(.ant-layout-sider-trigger) {
    width: 10% !important;
    height: calc(100vh - var(--header-height));
    position: absolute;
    left: -20px;
    top: 0px;
    background-color: #000000a1;
    border-left: 0.5px solid var(--border-gray);
    border-right: 0.5px solid var(--border-gray);

    & i {
        display: none;
    }
}

:global(.ant-btn-background-ghost) {
    color: var(--text-gray);
    border-color: var(--text-gray);
}

/* Tabs */

.tabbed-menu {
    font-size: 19px;

    /* Align tab labels and icons */
    & :global(.ant-menu-title-content) {
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;

        & :first-child {
            font-size: 20px;
            padding: 3px 3px 0 0;
        }
    }
}

:global(.ant-menu) {
    background-color: var(--viewer-header-background-gray);
}

:global(.ant-menu-horizontal .ant-menu-item) {
    margin-top: 7px;
    margin-left: 30px;
    padding: 0 10px;
    color: #ffffff;
}

/* Icomoon icons */

.plot-icon::after {
    content: "\e901";
}

.cube-icon::after {
    content: "\e900";
}
