# Adapted from https://github.com/marketplace/actions/deploy-pr-preview.
name: Deploy PR Preview

on:
    pull_request:
        types:
            - opened
            - reopened
            - synchronize
            - closed

concurrency: preview-${{ github.ref }}

jobs:
    deploy-preview:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

            - name: Setup node
              uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #v6.0.0
              with:
                  node-version: "18"
                  cache: "npm"
                  cache-dependency-path: "package-lock.json"

              # Must override default vite build base so that assets can still be accessed
              # when not placed in the root directory of gh-pages branch.
            - name: Install dependencies
              run: npm ci

            - name: Build
              run: npm run build

            - name: Deploy preview
              uses: rossjrw/pr-preview-action@430e3dfc1de8a8ae77e77d862d25676ef9db55d1
              with:
                  source-dir: ./dist/
