@import "../../styles/colors.css";

.plot-by-on-x {
    position: absolute;
    bottom: 0;
    right: 50%;
    z-index: 100;
}

.plot-by-on-y {
    position: absolute;
    bottom: 50%;
    left: 0;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    z-index: 100;
}

.color-by :global(.ant-select-selection) {
    background-color: var(--purple);
}
